- @page_title << "Accounts"

.row.mb-5
  .col-12.col-lg-10.offset-lg-1
    %ul.nav.nav-tabs.justify-content-center
      %li.nav-item
        %a.no-decoration.nav-link{href: "/admin/accounts", class: ("active" if @clicked_link.nil?) } All
      %li.nav-item
        %a.no-decoration.nav-link{href: "/admin/accounts?query=verified", class: ("active" if @clicked_link == "verified") } Verified
      %li.nav-item
        %a.no-decoration.nav-link{href: "/admin/accounts?query=unverified", class: ("active" if @clicked_link == "unverified")} Unverified
      %li.nav-item
        %a.no-decoration.nav-link{href: "/admin/accounts?query=closed", class: ("active" if @clicked_link == "closed")} Closed
      %li.nav-item
        %a.no-decoration.nav-link{href: "/admin/accounts?query=otp_on", class: ("active" if @clicked_link == "otp_on")} OTP ON
      %li.nav-item
        %a.no-decoration.nav-link{href: "/admin/accounts?query=otp_off", class: ("active" if @clicked_link == "otp_off")} OTP OFF
      %li.nav-item
        %a.no-decoration.nav-link{href: "/admin/accounts?query=admin", class: ("active" if @clicked_link == "admin")} ADMIN

- if !@accounts.empty?
  .row
    .col-12
      %table.table.table-hover.table-borderless
        %thead.table-light
          %td.text-center USERNAME
          %td.text-center EMAIL
          %td.text-center STATUS
          %td.text-center.d-none.d-md-table-cell 2FA
          %td.text-center.d-none.d-md-table-cell ADMIN
        %tbody
          - @accounts.each do |account|
            %tr.text-center
              - if account.is_admin?
                %td= truncate(account.user_name, 20)
              - else
                %td
                  %a{href: "/admin/accounts/#{account.id}"}= truncate(account.user_name, 20)
              %td= account.email
              %td= DB[:account_statuses].where(id: account.status_id).first[:name]
              %td.d-none.d-md-table-cell= DB[:account_recovery_codes].where(id: account.id).empty? ? "" : "x"
              %td.d-none.d-md-table-cell= account.is_admin? ? "x" : ""

- else
  %p.text-center No Account matches these criteria
