- @page_title << "Delete account"

%h3.mt-50.center-text Delete Account

%p.mt-30.center-text You are about to permanently delete this account.

%ul.mt-30.w-400.center-block
  %li.center-text#user_name= @target_account.user_name
  %li.mt-10.center-text= @target_account.email
  %li.mt-10.center-text= @target_account.account_status
  %li.mt-10.center-text #{@target_account.batches.length} batches
  %li.mt-10.center-text #{@target_account.entries.length} entries
  %li.mt-10.center-text Last entry: #{@target_account.last_entry_date}


%form#delete-account-form{action: "/admin/accounts/delete", method: :post}
  != csrf_tag("/admin/accounts/delete")

  %input{type: :hidden, name: "account_id", value: @target_account.id}

  %input.mt-30.w-200.center-block.btn.btn-lg.bg-danger.white#delete-acount-button{type: :submit, value: "Delete Account"}


