%ul.mt-30.w-400.center-block
  %li.center-text#user_name= @target_account.user_name
  %li.mt-10.center-text= @target_account.email
  %li.mt-10.center-text= @target_account.account_status
  %li.mt-10.center-text #{@target_account.batches.length} batches
  %li.mt-10.center-text #{@target_account.entries.length} entries
  %li.mt-10.center-text Last entry: #{@target_account.last_entry_date}
