- @page_title = @account.user_name

.row
  .col-10.offset-1.col-md-5.offset-md-0.col-xl-5.mb-3.bg-gray-md.py-3.rounded
    %h2.text-center.mb-3 Profile
    .row.mb-5
      .col-8.offset-2.col-lg-6.offset-lg-3
        %p.mb-3.text-center#user_name= @account.user_name
        %p.mb-3.text-center= @account.email
        - if @account.is_verified?
          %p.mb-3.alert.alert-success.w-100.text-center Verified Account
        - elsif @account.is_unverified?
          %p.mb-3.alert.alert-warning.w-100.text-center Unverified Account
        %a.d-block.mb-3.w-100.btn.btn-primary{href: "/batches"}= pluralize_batches(@account.batches.length)
        %a.d-block.mb-3.w-100.btn.btn-primary{href: "/entries"}
          = pluralize_entries(@account.entries.length)
          -if @account.entries.length > 0
            %br
            %small (Last entry: #{@account.last_entry_date})
        %a.d-block.w-100.btn.btn-primary{href: "/mensurations"} #{@account.mensuration.height} cm
  
  .col-10.offset-1.col-md-5.offset-md-2.col-xl-5.offset-xl-2.col-xl-5.mb-3.bg-gray-md.py-3.rounded
    %h2.text-center.mb-5 Options

    .row.mb-5
      .col-8.offset-2.col-lg-6.offset-lg-3
        %button.d-block.w-100.btn.btn-primary.mb-3{type: "button", "data-bs-toggle" => "collapse",
        "data-bs-target" => "#collapseAccountSecurityAction", "aria-expanded" => false,
        "aria-controls" => "collapseAccountSecurityAction"} Security
        .collapse.mb-3.text-center#collapseAccountSecurityAction
          - if rodauth.otp_exists?
            %p.mb-3
              %a{href: rodauth.recovery_codes_path} View Recovery Codes
            %p.mb-3
              %a{href: rodauth.two_factor_disable_path} Disable 2FA
          - else
            %p.mb-3
              %a{href: rodauth.two_factor_manage_path} Setup 2FA
          %p
            %a{href: "/security-log"} Security Log
        .mb-3 
          %button.d-block.w-100.btn.btn-primary.mb-3{type: "button", "data-bs-toggle" => "collapse",
          "data-bs-target" => "#collapseAccountCredentialsInfos", "aria-expanded" => false,
          "aria-controls" => "collapseAccountCredentialsInfos"} Account Info
          .collapse.mb-3.text-center#collapseAccountCredentialsInfos
            %p.mb-3
              %a{href: "/change-user-name"} Change User Name
            %p.mb-3
              %a{href: rodauth.change_login_path} Change Email
            %p.mb-3
              %a{href: rodauth.change_password_path} Change Password
        .mb-3
          %a.d-block.w-100.btn.btn-primary{href: "/export-data"} Export Data
        .mb-5
          %a.d-block.w-100.btn.btn-danger{href: rodauth.close_account_path} Close Account


