- @page_title = @account.user_name

%h2.text-center.mb-5 Profile

.row
  .col-12
    %p.mb-3.text-center#user_name= @account.user_name
    %p.mb-3.text-center= @account.email
    - if @account.is_verified?
      %p.mb-3.badge.bg-success.d-block.w-25.mx-auto Verfied Account
    - elsif @account.is_unverified?
      %p.mb-3.badge.bg-warning.d-block.w-25.mx-auto Unverified Account
    %a.d-block.mb-3.w-25.mx-auto.btn.btn-primary{href: "/batches"} #{@account.batches.length} batches
    %a.d-block.mb-3.w-25.mx-auto.btn.btn-primary{href: "/entries"} #{@account.entries.length} entries
    %p.mb-3.text-center Last entry: #{@account.last_entry_date}
  
  .col-12
    %h2.w-200.center-block.mt-40.text-center Options

    %ul.mt-20.w-200.center-block
      - if rodauth.otp_exists?
        %li
          %a.block.btn.bg-primary.white{href: rodauth.recovery_codes_path} View Recovery Codes
        %li.mt-10
          %a.block.btn.bg-warning.white{href: rodauth.two_factor_disable_path} Disable 2FA
      - else
        %li
          %a.block.btn.bg-primary.white{href: rodauth.two_factor_manage_path} Setup 2FA
      %li.mt-10
        %a.block.btn.bg-primary.white{href: "/change-user-name"} Change User Name
      %li.mt-10
        %a.block.btn.bg-primary.white{href: rodauth.change_login_path} Change Email
      %li.mt-10
        %a.block.btn.bg-primary.white{href: rodauth.change_password_path} Change Password
      %li.mt-10
        %a.block.btn.bg-primary.white{href: "/security-log"} Security Log
      %li.mt-10
        %a.block.btn.bg-primary.white{href: "/export-data"} Export Data
      %li
        %a.block.mt-30.btn.bg-danger.white{href: rodauth.close_account_path} Close Account


