- @page_title = "Batches list"

%h2.mb-4.text-center Batches

.row
  .col-10.offset-1.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-4.offset-lg-4
    .alert.alert-info.w-75.mx-auto.text-center.mb-3
      - if @current_batch
        %p.mb-3 #{@current_batch.name} ----- #{@current_batch.target} Kg
        %a.d-block.btn.btn-secondary.w-75.mx-auto.mb-2{href: "/entries?batch_id=#{@current_batch.id}"}
          %small View #{@entries_count} Entries
      - else 
        No Active Batch

    %button.d-block.btn.btn-primary.w-75.mx-auto.mb-5{type: "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#new-batch-form", "aria-expanded" => false, "aria-controls" => "new-batch-form"} New Batch

    %form.mb-4.collapse#new-batch-form{action: "/batches", method: :post, role: "forme"}
      != csrf_tag("/batches")
      %fieldset
        %input.form-control.mb-3#name{type: :text, name: "name", value: "", placeholder: "Batch Name", autofocus: true, size: "15", maxlength: "40"}
        %input.form-control.mb-3#target-weight{type: :number, name: "target", value: "", min: 20, max: 200, step: 0.1, placeholder: "Target Weight", size: "15", maxlength: "40"}

      %input.btn.btn-primary#create-batch-button{type: :submit, value: "Create"}

.row
  .col-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3
    - if @batches.empty?
      %p.text-center No batch created yet
    - else
      %table.table.table-hover.table-borderless
        %thead.table-light
          %td.text-center NAME
          %td.text-center TARGET
          %td.d-none.d-md-table-cell.text-center FIRST
          %td.d-none.d-md-table-cell.text-center LAST
          %td.text-center ACTIVE
          %td.text-center ENTRIES
        %tbody
          - @batches.each do |batch|
            %tr
              %td.text-center
                %a.no-decoration{href: "/batches/#{batch.id}/edit"}= batch.name || "/"
              %td.text-center= batch.target || "/"
              %td.d-none.d-md-table-cell.text-center= batch.first_date
              %td.d-none.d-md-table-cell.text-center= batch.last_date
              %td.text-center= batch.active
              %td.text-center= batch.entries.length

- content_for :js, assets([:js, :batch_index])
