- @page_title = "Batches list"

%h2.mt-40.w-200.center-block.center-text.p-20.bg-gold.white.fs-1-5 Batches

%a.block.mt-30.w-100.center-block.btn.bg-primary.white.fw-500#new-batch-btn{href: "#"} New

%form.mt-15.w-300.center-block.invisible#new-batch-form{action: "/batches", method: :post, role: "forme"}
  != csrf_tag("/batches")
  .flex.justify-between.items-center
    %input.w-150.lh-2.pl-5#name{type: :text, name: "name", value: "", placeholder: "Batch Name", autofocus: true, size: "15", maxlength: "40"}
    %input.w-150.lh-2.pl-5#target-weight{type: :number, name: "target", value: "", min: 20, max: 200, step: 0.1, placeholder: "Target Weight", size: "15", maxlength: "40"}

  %input.mt-10.w-150.center-block.lh-1-5.btn.btn-sm.bg-primary.white#create-batch-button{type: :submit, value: "Create"}

%a{href: "/entries"}
  .mt-20.mb-30.btn.w-150.center-block.bg-primary.white
    %h3 Current batch
    - if @current_batch 
      %p= @current_batch.name
      %p Target Weight: #{@current_batch.target || "/"}
    - else
      %p No Active Batch
  
- if @batches.empty?
  %p.center-text No batch created yet
- else
  %table.w-400.center-block.center-text
    %thead.lh-2
      %td.fw-600 NAME
      %td.fw-600 TARGET
      %td.fw-600 FIRST
      %td.fw-600 LAST
      %td.fw-600 ACTIVE
      %td.fw-600 ENTRIES
    %tbody
      - @batches.each do |batch|
        %tr.lh-1-5
          %td
            %a{href: "/batches/#{batch.id}/edit"}= batch.name || "/"
          %td= batch.target || "/"
          %td= batch.first_date
          %td= batch.last_date
          %td= batch.active
          %td= batch.entries.length

- content_for :js, assets([:js, :batch_index])
