- @page_title = 'Entries'

%h2.text-center.mb-4 Progress

.row
  .col-10.offset-1.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-4.offset-lg-4
    %a.d-block.no-decoration.alert.alert-info.w-75.mx-auto.text-center.mb-3{href: "/batches"}
      = @current_batch.name
      %br
      Target: #{@current_batch.target}

    %a.d-block.btn.btn-primary.w-75.mx-auto.mb-5{href: "/entries/new"} New Entry

.row
  .col-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3
    - if @entries.empty?
      %p.text-center No entries in this batch yet
    - else
      %table.table.table-hover.table-borderless
        %thead.table-light
          %td.text-center DAY
          %td.text-center WEIGHT
          %td.text-center + / -
          %td.text-center LEFT
        %tbody
          - @entries.each do |entry|
            %tr
              %td.text-center
                %a.no-decoration{href: "/entries/#{entry.id}/edit"}= entry.day.strftime("%a %d %b %Y")
              %td.text-center= entry.weight.to_f
              %td.text-center{ class: weight_delta_color(entry.delta) }= format_delta(entry.delta)
              %td.text-center= @current_batch.target ? entry.delta_to_target : "/"
    
