!!! 5
%html.h-100
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'x-ua-compatible', content: 'ie=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %meta{name: 'language', content: 'fr'}
    %meta{name: 'author', content: 'Laurent Guinotte'}
    %link{rel: 'weight scale icon', href: '/images/weight-scale.png', type: 'image/x-icon'}
    %link{rel: 'icon', href: '/images/weight-scale.png', type: 'image/x-icon'}

    != assets(:css)

    %title!= set_page_title(@page_title)

    %body.d-flex.flex-column.h-100
      %main.flex-shrink-0
        != partial("partials/navbar")

        %h1.text-center.mb-3 Weight Tracker
        %h2.text-center.mb-5 Admin Panel

        != partial("partials/flash")

        .container-sm
          != yield

        .mt-50

    != partial("partials/footer")

    != assets([:js, :bootstrap])
    != assets([:js, :main])
    != assets([:js, :htmx])
    != content_for(:js)
