!!! 5
%head
  %meta{ charset: 'utf-8' }
  %meta{ 'http-equiv' => 'x-ua-compatible', content: 'ie=edge' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
  %meta{ name: 'language', content: 'fr' }
  %meta{ name: 'author', content: 'Laurent Guinotte' }
  %link{ rel: "preconnect", href: "https://fonts.gstatic.com" }
  %link{ href: "https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap", rel: "stylesheet" }

  != assets(:css)

  %title!= set_page_title(@page_title)

%body
  != partial("partials/navbar")

  .container-fluid
    %h1.h2.text-center.mb-5
      Record your daily weight
      %br
      %span.text-muted See your progress
    
    != partial("partials/flash")

  .container.sm
    != yield

  != assets([:js, :main])
  != assets([:js, :bootstrap_js])
  != content_for(:js)
