!!! 5
%head
  %meta{ charset: 'utf-8' }
  %meta{ 'http-equiv' => 'x-ua-compatible', content: 'ie=edge' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
  %meta{ name: 'language', content: 'fr' }
  %meta{ name: 'author', content: 'Laurent Guinotte' }
  %link{ rel: "preconnect", href: "https://fonts.gstatic.com" }
  %link{ href: "https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap", rel: "stylesheet" }

  != assets(:css)

  %title!= set_page_title(@page_title)

%body
  %nav.navbar.navbar-expand-md.navbar-light.bg-light.mb-5
    .container-fluid
      %a.navbar-brand{href: "/"} Weight Tracker
      %button.navbar-toggler{type: "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbarToggler",
        "aria-controls" => "navbarToggler", "aria-expanded" => false, "aria-label" => "Toggle navigation"}
        %span.navbar-toggler-icon

      .collapse.navbar-collapse#navbarToggler
        %ul.navbar-nav.me-auto.mb-2.mb-sm-0
          %li.nav-item
            %a.nav-link.active{href: "/entries", "aria-current" => "page"} Entries
          %li.nav-item
            %a.nav-link{href: "/entries/new"} New Entry
          %li.nav-item
            %a.nav-link{href: "/batches"} Batches
          %li.nav-item
            %a.nav-link{href: "/about"} About
        .nav-item.dropdown
          - if rodauth.authenticated?
            - @account_ds ||= rodauth.account_from_session
            %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{href: "#", role: "button", "data-bs-toggle" => "dropdown",
              "aria-expanded" => false}= @account_ds[:user_name]
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
              %li
                %a.dropdown-item{href: "/account"} Account
              %li
                %a.dropdown-item{href: rodauth.logout_path} Log Out
          - else
            %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{href: "#", role: "button", "data-bs-toggle" => "dropdown",
              "aria-expanded" => false}
              Login / Signup
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
              %li
                %a.dropdown-item{href: "/login"} Login
              %li
                %a.dropdown-item{href: "/create-account"} Sign Up

  .container-fluid
    %h1.h2.text-center.mb-5
      Record your daily weight
      %br
      %span.text-muted See your progress
    
    != partial("partials/flash")

  .container.sm
    != yield

  != assets([:js, :main])
  != assets([:js, :bootstrap_js])
  != content_for(:js)
