!!! 5
%head
  %meta{ charset: 'utf-8' }
  %meta{ 'http-equiv' => 'x-ua-compatible', content: 'ie=edge' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
  %meta{ name: 'language', content: 'fr' }
  %meta{ name: 'author', content: 'Laurent Guinotte' }
  %link{ rel: "preconnect", href: "https://fonts.gstatic.com" }
  %link{ href: "https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap", rel: "stylesheet" }

  != assets(:css)

  %title!= set_page_title(@page_title)

%body
  %h1.w-200.center-block.center-text.mt-25.fs-3.fw-300
    %a{href: '/entries' } Weight Tracker
  %h2.w-200.center-block.center-text.mt-40.fs-2.fw-500 Admin Panel
  != partial("partials/flash")

  .block.mt-40.w-200.center-block.center-text
    %a.block.btn.bg-warning.white{href: "/admin/accounts"} Admin - #{@account_ds[:user_name]}
  
  != yield

  .mt-50
  != assets([:js, :main])
  != content_for(:js)
