%a.d-block.btn.btn-secondary.w-25.mx-auto.mb-5{href: "/account"} Back to Account

%h2.text-center.mt-5.mb-3 Two Factors Authentication Setup

%p.text-center.mb-5 Scan the QRCode with your authentication application and enter the provided authentication code below

.conatiner-fluid
  .row
    .col-12.col-md-8.col-lg-6.offset-lg-2
      %p#qrcode-otp!= rodauth.otp_qr_code

    .col-12.col-md-4.col-lg-3
      %form.mb-5#otp-setup-form{action: rodauth.otp_setup_path, method: :post, role: "form"}
        
        %input{type: :hidden, id: "otp-key", name: rodauth.otp_setup_param, value: rodauth.otp_user_key}
        %input{type: :hidden, id: "otp-hmac-secret", name: rodauth.otp_setup_raw_param, value: rodauth.otp_key}
        != csrf_tag(rodauth.otp_setup_path)
              
        .form-group.mb-3
          %label{for: "password"} Password
          %input.form-control{type: :password, id: "password", name: "password", value: "", autocomplete: "current-password", required: true}

        .form-group.mb-3
          %label{for: "otp-auth-code"} Authentication Code
          %input.form-control{type: :text, id: "otp-auth-code", name: "otp", value: "", autocomplete: "off", inputmode: "numeric", required: true}

        .form-group.mb-3
          %input.btn.btn-primary{type: :submit, value: "Setup TOTP Authentication"}

      .mb-5
        %p
          %strong #{rodauth.otp_secret_label}:
        %p.mb-3#otp-secret-key #{rodauth.otp_user_key}
        %p
          %strong #{rodauth.otp_provisioning_uri_label}:
        %p #{rodauth.otp_provisioning_uri}

  
